<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="static/css/register.css">
</head>
<body>
<form action="login" method="post">
   {% csrf_token %}
  <div class="container">
    <h1>GreenHills</h1>
    <hr>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <button type="submit" class="registerbtn">Register</button>
  </div>
    {% for ii in messages%}
      {{ii}}
  {% endfor %}

</form>
</body>
</html>